body {
  text-align:center;
  font-family: "Source Sans Pro", sans-serif;
}
h1{
    font-size: 30px;    
    font-weight: 300;
    letter-spacing: 0.1618em;
    line-height: 2.318em;
    font-style: normal;
    margin: 0;
    padding: 0.17em 0;
}
h2{
  font-size:20px;
}
p {
  font-size: 15px;
}
h2,p {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1618em;
    line-height: 1.5em;
    margin-bottom: 0;
  }
.description{ 
    max-width:52%;
    margin:auto;
}

.icons{
  display: inline-block;
  padding:20px;
}

/* Icons */

.icons>a{
  color:#ffff;
  background: #BDBDBD;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.icons>a:hover {
  background: #AC58FA;
}

/* pop-up text */

a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

